.listViewContainer.full-width {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

    width: 100% !important;
    overflow-x: clip;
}

.listViewItem {
    border-radius: 4px !important;
    padding-right: 1rem;
    flex-direction: column !important;
    width: 164px !important;
    position: relative !important;
    box-shadow: 0px 0px 7px -2px black !important;
    margin-bottom: 16px;
}

.listViewItemImgContainer{
    width: 164px !important;
    height: 160px !important;
}

.listViewItemImg{
    width: 100% !important;
    border-radius: 4px !important;
    height: 100% !important;
}

.listViewItemCopy{
    border-radius: 0 0 4px 4px !important;
    margin-left: 8px !important;
    width: 100% !important;
}

.action-holder{
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    color: white !important;

    z-index: 5;
}

.listViewItemIcon{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 70px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: 1;
}

.listViewItem .listViewItemImg {
    border-radius: 4px;
}
html[buildfire] {
    padding-top: 0;
}
#main {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.search-div {
    position: absolute;
    top: 1rem;
    z-index: 999;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%), 0px 1px 2px rgb(0 0 0 / 16%);
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
}
.search-card {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    /* overflow: hidden; */
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.inner-search-container {
    padding-left: 0.93rem;
    padding-right: 0.93rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff14;
}

.cursor {
    cursor: pointer;
}

input {
    border: none;
    padding: 0.7rem 0.5rem 0.7rem 0;
    margin-left: 1rem;
    font-size: 1rem;
    width: 100%;
    background: transparent;
}

input:focus {
    outline: none;
}

.mdc-card {
    border-radius: 4px;
    background-color: #fff;
    background-color: var(--mdc-theme-surface, #fff);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


body {
    height: 100% !important;
}



#emptyProds {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#emptyProds2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none !important;
}

.carouselLoad {
    min-height: 202px;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
}

.item1Load {
    margin-top: 2.25rem;
    min-height: 0;
}

.item2Load {
    margin-top: 1.5rem;
    min-height: 0;
}

.textLoad {
    height: 1rem;
    border-radius: 1rem;
}

.loadColor {
    opacity: 0.2;
}

.user-card {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 10px;
    background: white;
    animation-name: gradient-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: blur(20px);
    z-index: 1;
}

#skeleton {
    position: relative;
}




.material-inject--star:after {
    content: "star";
}

.material-inject--star_outline:after {
    content: "star_outline";
}

@keyframes gradient-animation {
    0% {
        left: 0%;
    }
    40%,
    100% {
        left: 120%;
    }
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

::placeholder {
    color: var(--c, green);
}